<header appHeader></header>
<div class="initial-register">
  <p>
    Discover unforgettable experiences with seamless event booking – where every
    moment is just a click away!
  </p>
  <button type="button" routerLink="/register">Get Started</button>
</div>
<hr />

<div class="slider-wrapper">
  <div class="slider">
    <img src="../../../assets/slider/event6.jpg" loading="lazy" alt="event6" />
    <img src="../../../assets/slider/event2.jpg" loading="lazy" alt="event2" />
    <img src="../../../assets/slider/event4.jpg" loading="lazy" alt="event4" />
    <img src="../../../assets/slider/event12.jpg" loading="lazy" alt="event12" />
    <img src="../../../assets/slider/event1.jpg" loading="lazy" alt="event1" />
  </div>
</div>
<img src="../../../assets/decor.png" alt="decor" class="decor-up">
<div class="explore-the-process">
  <h1>🎟️ Welcome to QR-PASS – Your Ultimate Event Hub! 🚀</h1>
  <div class="user-process">
    <p>
      🔹 <strong>Attend Events:</strong> Explore a variety of exciting events, select your favorite, fill in your
      details, and complete your booking. Get instant access with a <strong>QR code ticket</strong>!
    </p>
    <p>
      🔹 <strong>Organize Events:</strong> Host your own events effortlessly! Choose a pricing plan, set up your event,
      and connect with your audience.
    </p>
    <p>🎉 Join now and experience seamless event booking & organizing!</p>

    <h3>Organizer</h3>
    <ul>
      <li>
        🌐 <strong>Register for Free:</strong> Organizers can create their
        account at no cost and start using the platform immediately.
      </li>
      <li>
        📢 <strong>Publish Events:</strong> Easily publish events on the
        website, with seamless setup for details and ticket options.
      </li>
      <li>
        💳 <strong>Pay to Publish:</strong> Once an event is published, a
        specified fee must be paid to activate the event listing.
      </li>
      <li>
        📊 <strong>Track Revenue:</strong> Use the dashboard to monitor monthly
        and yearly revenue trends, providing insights into event performance.
      </li>
      <li>
        🎟️ <strong>Distribute QR Passes:</strong> Automatically generate and
        distribute QR code passes for seamless ticket management and entry
        verification.
      </li>
    </ul>

  </div>
</div>
<div class="objectives"></div>