<div class="all-event-division">
    <h1 class="section-title">Available Events for Booking</h1>
    <ul class="event-cards">
        @if(allEvents().length>0){
        @for (event of allEvents(); track $index) {
        <li class="event-card" (click)="onSelectEventCard(event._id)">
            <img [src]="event.data.imageurl" [alt]="event.data.eventname" class="event-image">
            <div class="event-card-content">
                <h2 class="event-title">{{event.data.eventname|titlecase}}</h2>
                <p class="event-info"><strong>Artist:</strong> {{event.data.artist}}</p>
                <p class="event-info"><strong>Venue:</strong> {{event.data.venue}}, {{event.data.district}},
                    {{event.data.state}}</p>
                <div class="event-date-time">
                    <p><strong>📅 Date:</strong> {{event.data.date|date:'dd-MM-yyyy'}}</p>
                    <p><strong>⏰ Time:</strong> {{event.data.time}}</p>
                </div>
                <div class="event-pricing">
                    <p class="event-price">{{event.data.price|currency:'INR'}}</p>
                    <span class="event-seats">{{event.data.seats}} seats available</span>
                </div>
                @if ('user_2_'+event.data.user === userId()) {
                <div class="event-offer">
                    My Event
                </div>
                }
                @if (event.data.offerpercent>0) {
                <div class="event-offer">
                    🎉 Offer: {{event.data.offerpercent/100|percent}} off!
                </div>
                }
            </div>
        </li>
        }
        }@else{
        <h3 class="not-found">No events available for booking at the moment.</h3>
        }
    </ul>
</div>